body{
	background-color: blue;
}

*{
	font-family: sans-serif;
}


}

hr{
	margin-top: 50;
}
td{
	padding: 0px 10px;
	  margin-left: auto;
  margin-right: auto;
text-align: center; 

}

table{
	padding: 0px 10px; 
		  margin-left: auto;
  margin-right: auto;
 text-align: center;
 color: white;
  background-color: green;
}

.resto{
	margin-top:20;
}
